In [4]:
import pandas as pd
import numpy as np

libs loaded

## Series

In [7]:
# Series vecteur de dimension 1,n possedant toujours des types via l'attribut .dtypes
l=[0.25, 0.5, 0.75, 1.0]
data = pd.Series(l); data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [16]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

## DataFrame

In [19]:
#ar = np.array([[1.1, 2, 3.3, 4], [2.7, 10, 5.4, 7], [5.3, 9, 1.5, 15]])
ar = [[1.1, 2, 3.3, 4], [2.7, 10, 5.4, 7], [5.3, 9, 1.5, 15]]
df = pd.DataFrame(ar, index = ['a1', 'a2', 'a3'], columns = ['A', 'B', 'C', 'D']); df

      A   B    C   D
a1  1.1   2  3.3   4
a2  2.7  10  5.4   7
a3  5.3   9  1.5  15

In [20]:
df.loc['a2']

A     2.7
B    10.0
C     5.4
D     7.0
Name: a2, dtype: float64

In [21]:
df.index

Index(['a1', 'a2', 'a3'], dtype='object')

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
#Pour recupérer une ligne
df.loc['a2']

A     2.7
B    10.0
C     5.4
D     7.0
Name: a2, dtype: float64

In [33]:
#Pour récupérer un sous-ensemble de lignes et de colones

In [32]:
df.loc[['a2', 'a3'], ['A', 'C']]

      A    C
a2  2.7  5.4
a3  5.3  1.5

In [42]:
df.loc[['a2', 'a3'], ['C']]

      C
a2  5.4
a3  1.5

In [35]:
df.loc[:,['A', 'D']].iloc[0:2]

      A  D
a1  1.1  4
a2  2.7  7