In [8]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
price_ava = pd.read_csv('./datasets/price_availability.csv', sep=';'); price_ava

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2
...,...,...,...,...,...,...,...
4748691,23608395,2018-09-06,2018-09-27 06:05:42.000+0000,False,EUR,24,1
4748692,23608395,2018-09-06,2018-09-26 19:31:32.000+0000,False,EUR,24,1
4748693,1447132,2018-12-27,2018-09-27 10:46:16.000+0000,False,EUR,125,3
4748694,1447132,2018-12-27,2018-09-27 06:07:36.000+0000,False,EUR,125,3
4748695,1447132,2018-12-27,2018-09-26 19:37:40.000+0000,False,EUR,125,3

In [4]:
#listings_final.csv
listing_final = pd.read_csv('./datasets/listings_final.csv', sep=';').iloc[:, 1:]; listing_final

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00
996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00
997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00
998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00
999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00

In [23]:
for index, row in listing_final.iterrows():
    if row["listing_id"] in price_ava["listing_id"]:
        #print(row["listing_id"] ,price_ava_GB_LID.get_group(row["listing_id"]))
        cleaned_df[""]
        print(price_ava_GB_LID.get_group(row["listing_id"]).local_price.mean())

44.473684210526315
49.0
165.0
69.77443609022556
80.56363636363636
61.10909090909091
169.0
170.0
49.95275590551181
35.06887755102041
107.37402597402597
76.06896551724138
36.58961038961039
75.8762088974855
284.35356200527707
300.0
59.07772020725388
101.37984496124031
67.20833333333333
60.740932642487046
38.0
92.0
66.21204188481676
79.68041237113403
90.09819121447029
170.0
115.75447570332481
283.76115485564304
144.74424552429667
347.67015706806285
115.0
105.0
154.65384615384616
380.0
44.16569200779727
233.6917098445596
147.96623376623376
105.0
163.47286821705427
190.0
180.95287958115182
128.86304909560724
163.28571428571428
94.0
94.97619047619048
218.96373056994818
234.89460154241644
300.7864077669903
62.0
59.023498694516974
80.24479166666667
53.0
92.0
210.87855297157623
278.90625
165.0
179.67315175097275
105.71849865951742
43.84615384615385
105.15873015873017
165.0
172.67822736030828
109.0
42.86340206185567
220.0
136.57559681697612
240.0
990.0
139.2587601078167
196.03846153846155
226.0
69.0
357.44125326370755
62.39080459770115
145.6782945736434
191.34883720930233
250.0
166.328125
239.697265625
199.42746113989637
220.0
180.0
371.3636363636364
59.0
58.0
315.4871794871795
220.0
86.0
132.18897637795277
277.0
149.0
69.01550387596899
245.0
161.2357512953368
210.07792207792207
216.22857142857143
252.83854166666666
59.077319587628864
81.0
60.650918635170605
380.0
73.0
36.107421875
180.0
184.55208333333334
92.28132992327366
135.0
74.0
210.0
40.234986945169716
258.27676240208876
130.29320388349515
155.0
92.0
29.0
122.58717948717948
141.0699481865285
228.44155844155844
145.0
135.88020833333334
76.0
98.0
184.65879265091863
144.0
115.0
409.1808510638298
48.44041450777202
47.0
186.49807692307692
220.03084832904884
89.25848563968668
79.0
183.95077720207254
159.83507853403142
83.37730870712402
104.0
195.26705653021443
132.36363636363637
43.58115183246073
45.82945736434109
170.64935064935065
158.86627906976744
25.444730077120823
202.23514211886305
176.08398950131235
91.38659793814433
109.0
261.086387434555
192.0
96.05714285714286
74.0
80.7244094488189
170.0
440.0
321.2987012987013
68.16358839050132
101.0
270.33678756476684
30.0
112.0
57.0
435.1267056530214
88.19895287958116
489.9803536345776
68.0
150.953125
135.4015544041451
108.0
591.40625
79.0
51.728205128205126
48.390306122448976
270.0
395.0
618.0
30.0
94.82597402597402
133.8359375
169.85714285714286
250.0
108.0
118.19843342036553
250.0
834.9612403100775
95.45333333333333
206.14690721649484
88.65066666666667
1072.7748691099475
145.0
160.0
63.14397905759162
250.0
538.860103626943
140.16494845360825
129.3848167539267
144.0
425.0
92.0
54.0
127.0
88.38381201044386
69.0
109.0
72.0
81.63049095607235
148.07179487179488
203.41755319148936
57.886538461538464
136.62597402597402
69.27447216890594
74.10810810810811
152.2577319587629
89.0
309.9034749034749
68.05526315789474
350.08076923076925
146.0
180.0

In [6]:
# on créé g --> tableau de clés associatives de la forme [listing_id => [ses historiques de prix]]
g = price_ava.groupby('listing_id');

# on ajoute une nouvelle colonne dans le DataFrame qui contient toutes les infos

listing_final['price_avg'] = 0


# on fait un boucle sur les lignes du DataFrame qui contient toutes les infos (i = index, x = data)

for (i,x) in listing_final.iterrows():
    #on vérifie que le listing_id possède bien des historiques de prix en regardant si la valeur de listing_id est bien une clé du tableau d'historique g

    if x.listing_id in g.groups.keys():

    # on ajoute pour la ligne i (qui correspond à la ligne) et pour la colonne price_avg la moyenne de tous les historiques de prix

        listing_final.loc[i,'price_avg'] = g.get_group(x.listing_id).local_price.mean()

listing_final

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,price_avg
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00,45.948454
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69,44.473684
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00,49.000000
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48,165.000000
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90,69.774436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00,38.507732
996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00,147.752551
997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00,152.860825
998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00,49.184211
999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00,39.503937

In [7]:
X, y = listing_final.loc[:, ['person_capacity','beds', 'bedrooms', 'bathrooms']], listing_final["price_avg"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3)

In [13]:
reg = LinearRegression()

In [16]:
reg.fit(X_train, y_train)

LinearRegression()

In [20]:
# a => ax + b
reg.coef_

array([ 29.59671631, -21.65999863,  26.87560788, 119.08053273])

In [21]:
# b => ax + b
reg.intercept_

-57.96611143144261

In [22]:
reg.score(X_train, y_train)

0.386812548530045

In [23]:
regr = LinearRegression()
regr.fit(X_train.values, y_train)

LinearRegression()

In [26]:
Y_pred = regr.predict(X_test)
len(Y_pred)

300

In [27]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test, Y_pred))
print ('Variance score: %.2f' % r2_score())

NameError: name 'mean_squared_error' is not defined